<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark"
  style="background-color: #e3f2fd"
>
  <a class="navbar-brand" [routerLink]="'.'">Track-system</a>
  <button
    class="navbar-toggler"
    type="button"
    (click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="!isCollapsed"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" ngbDropdown >
        <a class="nav-link dropdown-toggle" [routerLink]="'.'" (click)="isCollapsed = true"
        id="navbarDropdown" ngbDropdownToggle>Transacciones</a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdown">
          <a ngbDropdownItem [routerLink]="'.'" (click)="onLoadPage('registrar-transaccion')">Registrar</a>
          <a ngbDropdownItem [routerLink]="'.'" (click)="onLoadPage('listar-transacciones')">Ver todas</a>
      </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'.'" (click)="onLoadPage('listar-trazabilidades')">Trazabilidad</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'.'" (click)="isCollapsed = true">Iniciar sesión</a>
      </li>
    </ul>
  </div>
</nav>
