<div class="container">
    <div class="row mt-2">
        <div class="col-sm-6 text-right bg-white text-dark">
            <app-graphics-torres></app-graphics-torres>
        </div>
        <div class="col-sm-6 text-left bg-white text-dark">
            <app-graphics-aplicacion></app-graphics-aplicacion>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center bg-white text-dark">
            <app-line-chart-trazabilidad></app-line-chart-trazabilidad>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center bg-white text-dark">
           <app-line-chart-trazabilidad-transaccion></app-line-chart-trazabilidad-transaccion> 
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 bg-white text-dark">
            <app-line-chart-trazabilidad-proyecto></app-line-chart-trazabilidad-proyecto>
        </div>
    </div>
</div>


