<app-header (pageToLoad)="loadPageFeaure($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">

      <app-registrar-transaccion
        *ngIf="featurePage==='registrar-transaccion'">
      </app-registrar-transaccion>

      <app-listar-transacciones
        *ngIf="featurePage==='listar-transacciones'">
      </app-listar-transacciones>

      <app-registrar-trazabilidad
        *ngIf="featurePage==='listar-trazabilidades'">
        </app-registrar-trazabilidad>
    </div>
  </div>
</div>
