<div class="container">
  <div class="row align-items-start">
    <div class="col"></div>
    <div class="col">
      <h3>Registro de transaccion</h3>
    </div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01"
            >Aplicacion</label
          >
        </div>
        <select class="custom-select aplicacion-input" id="inputGroupSelect01">
          <option selected>Selecciona...</option>
          <option value="1">SIAC UNICO</option>
          <option value="2">SISACT</option>
          <option value="3">SIGEX</option>
        </select>
      </div>
      <div class="row torre-input-div">
        <label class="input-group-text" for="ex2">Torre</label>
        <input class="form-control torre-input" id="ex2" type="text" />
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row torre-input-div">
        <label class="input-group-text" for="ex2">Transaccion</label>
        <input class="form-control torre-input" id="ex2" type="text" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4"></div>
    <div class="col btn-grabar-transaccion">
      <button type="submit" class="btn btn-primary">Grabar Transaccion</button>
    </div>
    <div class="col-4"></div>
  </div>
</div>
